Git UniTEAM-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-vs.csproj
Library
Temp
Git UniTEAM.sln
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp.pidb
/Git UniTEAM.userprefs
obj
/git-uniteam-csharp.sln
/git-uniteam-csharp.v11.suo
/git-uniteam.sln
