#OSX NOISE
.DS_Store
Git UniTEAM-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-vs.csproj
Library
Temp
Git UniTEAM.sln
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp.pidb
/Git UniTEAM.userprefs
obj
/git-uniteam-csharp.sln
/git-uniteam-csharp.v11.suo
/git-uniteam.sln
git-uniteam-builder.v11.suo
git-uniteam.v11.suo
Assets/Plugins/git-uniteam-config.txt
Assets/Plugins/git-uniteam-config.txt.meta
Binary Builder/bin/Debug
Game Build
Binary Builder/git-uniteam-unitypackage/Assets/Plugins/LibGit2Sharp.dll
Binary Builder/git-uniteam-unitypackage/Assets/Plugins/git2.dll
Binary Builder/git-uniteam-unitypackage/Assets/AssetStoreTools
Assets/Git UniTEAM/Editor/git-uniteam-config.txt

Assets/Git UniTEAM/Editor/git-uniteam-config.txt.meta

Binary Builder/git-uniteam-unitypackage/git-uniteam-unitypackage-csharp.sln

Binary Builder/git-uniteam-unitypackage/git-uniteam-unitypackage-csharp.v11.suo

Binary Builder/git-uniteam-unitypackage/git-uniteam-unitypackage.sln

